[package]
name = "dolos"
description = "Cardano Dolos"
version = "0.4.1"
edition = "2021"
repository = "https://github.com/txpipe/dolos"
homepage = "https://github.com/txpipe/dolos"
documentation = "https://docs.rs/dolos"
license = "Apache-2.0"
readme = "README.md"
authors = ["Santiago Carmuega <santiago@carmuega.me>"]


[dependencies]
pallas = "=0.19.1"
# pallas = { path = "../pallas/pallas" }

gasket = { version = "^0.5", features = ["derive"] }
# gasket = { path = "../../construkts/gasket-rs/gasket", features = ["derive"] }

utxorpc = { version = "1.0.0-alpha.1" }
# utxorpc = { path = "../../utxorpc/rust-sdk" }

hex = "0.4.3"
net2 = "0.2.37"
bech32 = "0.8.1"
clap = { version = "4.3.0", features = ["derive"] }
log = "0.4.18"
env_logger = "0.9.0"
config = { version = "0.13.3", default-features = false, features = ["toml", "json"] }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
minicbor = "0.14.1"
prometheus_exporter = { version = "0.8.4", default-features = false }
thiserror = "1.0.30"
lazy_static = "1.4.0"
rayon = "1.5.3"
rocksdb = { version = "0.21.0", default-features = false, features = ["multi-threaded-cf"] }
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
bincode = "1.3.3"
miette = { version = "5.9.0", features = ["fancy"] }
tokio = { version = "1.28.2", features = ["rt", "rt-multi-thread"] }
async-trait = "0.1.68"
tonic = { version = "0.9.2", features = ["tls"] }
bytes = "1.4.0"
futures-core = "0.3.28"
tonic-web = "0.9.2"
tokio-stream = { version = "0.1.14", features = ["sync"] }
futures-util = "0.3.28"
async-stream = "0.3.5"
async-recursion = "1.0.5"

[dev-dependencies]
tempfile = "3.3.0"
