[package]
name = "dolos"
description = "A Cardano data-node built in Rust"
version = "0.18.2"
edition = "2021"
repository = "https://github.com/txpipe/dolos"
homepage = "https://github.com/txpipe/dolos"
documentation = "https://docs.rs/dolos"
license = "Apache-2.0"
readme = "README.md"
authors = ["Santiago Carmuega <santiago@carmuega.me>"]


[dependencies]
pallas = { git = "https://github.com/txpipe/pallas.git", features = ["hardano", "applying"] }
# pallas = { version = "^0.30.1", features = ["hardano", "applying"] }
# pallas = { path = "../pallas/pallas", features = ["hardano", "applying"] }

gasket = { git = "https://github.com/construkts/gasket-rs.git", features = ["derive"] }
# gasket = { version = "^0.8", features = ["derive"] }
# gasket = { path = "../../construkts/gasket-rs/gasket", features = ["derive"] }

redb = { version = "^2" }
hex = "0.4.3"
bech32 = "0.11.0"
clap = { version = "4.5.20", features = ["derive"] }
log = "0.4.18"
config = { version = "0.13.3", default-features = false, features = ["toml", "json"] }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.122"
thiserror = "1.0.30"
lazy_static = "1.4.0"
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
bincode = "1.3.3"
miette = { version = "7.2.0", features = ["fancy"] }
tokio = { version = "^1.40", features = ["rt", "rt-multi-thread", "signal"] }
tokio-util = { version = "0.7.11", features = ["rt"] }
async-trait = "0.1.81"
tonic = { version = "0.12.3", features = ["tls"] }
tonic-web = "0.12.3"
tonic-reflection = "0.12.3"
bytes = "1.4.0"
futures-core = "0.3.31"
tokio-stream = { version = "0.1.14", features = ["sync"] }
futures-util = "0.3.28"
async-stream = "0.3.5"
serde_with = "3.8.1"
protoc-wkt = "1.0.0"
itertools = "0.13.0"
indicatif = "0.17.8"
trait-variant = "0.1.2"
comfy-table = { version = "7.1.1", optional = true }
inquire = { version = "0.7.5", optional = true }
toml = { version = "0.8.13", optional = true }
console-subscriber = { version = "0.3.0", optional = true }
flate2 = "1.0.34"
tar = "0.4.41"
reqwest = { version = "0.12.7", default-features = false, features = ["blocking", "rustls-tls"] }
paste = "1.0.15"
tower-http = { version = "0.6.1", features = ["cors"] }
chrono = { version = "0.4.39", default-features = false }

# UPLC dependencies
uplc = { git = "https://github.com/pragma-org/uplc.git", optional = true }
blst = "=0.3.13"
rug = "1.26.1"
num-integer = "0.1.46"

[target.'cfg(not(windows))'.dependencies.mithril-client]
version = "0.10.4"
optional = true
default-features = false
features = ["fs", "rug-backend", "rustls-tls", "rustls-tls-webpki-roots"]

[target.'cfg(windows)'.dependencies.mithril-client]
version = "0.10.4"
optional = true
default-features = false
features = ["fs", "num-integer-backend", "rustls-tls", "rustls-tls-native-roots"]

[dev-dependencies]
tempfile = "3.3.0"

[features]
mithril = ["mithril-client"]
utils = ["comfy-table", "inquire", "toml"]
debug = ["console-subscriber", "tokio/tracing"]
default = ["mithril", "utils"]
unstable = ["uplc"]

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.14.1"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["shell", "powershell", "homebrew"]
# A GitHub repo to push Homebrew formulas to
tap = "txpipe/homebrew-tap"
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
    "aarch64-apple-darwin",
    "aarch64-unknown-linux-gnu",
    "x86_64-apple-darwin",
    "x86_64-unknown-linux-gnu",
    "x86_64-pc-windows-msvc",
]
# Publish jobs to run in CI
publish-jobs = ["homebrew"]
# Publish jobs to run in CI
pr-run-mode = "plan"
# Whether to install an updater program
install-updater = false
# The preferred Rust toolchain to use in CI (rustup toolchain syntax)
rust-toolchain-version = "1.78.0"

[workspace.metadata.release]
push = false
publish = false
pre-release-hook = ["git", "cliff", "-o", "CHANGELOG.md", "--tag", "{{version}}"]

[workspace.metadata.dist.github-custom-runners]
aarch64-apple-darwin = "macos-14"
aarch64-unknown-linux-gnu = "buildjet-2vcpu-ubuntu-2204-arm"
