[upstream]
peer_address = "preprod-node.world.dev.cardano.org:30000"
network_magic = 1
is_testnet = true

[storage]
version = "v3"
path = "/opt/dolos/data"

[storage.wal]
backend = "redb"
max_history = 129600

[storage.state]
backend = "fjall"

[storage.index]
backend = "fjall"

[storage.archive]
backend = "redb"
max_history = 2592000

[storage.mempool]
backend = "redis"
url = "redis://redis:6379"
key_prefix = "dolos:mempool"
pool_size = 10
max_finalized = 10000
watcher_lock_ttl = 60

[genesis]
byron_path = "/etc/genesis/byron.json"
shelley_path = "/etc/genesis/shelley.json"
alonzo_path = "/etc/genesis/alonzo.json"
conway_path = "/etc/genesis/conway.json"

[sync]
pull_batch_size = 200

[submit]
prune_height = 10000

[serve.grpc]
listen_address = "[::]:50052"
permissive_cors = true

[serve.ouroboros]
listen_path = "/tmp/dolos2.socket"
magic = 1

[mithril]
aggregator = "https://aggregator.release-preprod.api.mithril.network/aggregator"
genesis_key = "5b3132372c37332c3132342c3136312c362c3133372c3133312c3231332c3230372c3131372c3139382c38352c3137362c3139392c3136322c3234312c36382c3132332c3131392c3134352c31332c3233322c3234332c34392c3232392c322c3234392c3230352c3230352c33392c3233352c34345d"

[logging]
max_level = "INFO"
include_tokio = false
include_pallas = false
include_grpc = false
