name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check:
    name: Check Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --workspace --all-targets

      - name: lint
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets --all-features -- -D warnings

  test:
    name: Test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    needs: check
    strategy:
      matrix:
        os: [ubuntu-latest, macos-14, windows-latest]

    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run unit tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-targets

      - name: Run external smoke tests
        if: runner.os != 'Windows'
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: -p xtask -- external-test
